<header class="jumbotron">
  <div class="inner">
    <div class="container">
      <h1 style="letter-spacing:-3px; margin-bottom:20px;">License Generator</h1>
      <p class="lead"></p>
    </div><!-- /container -->
  </div>
</header>


  

  <div class="span8 offset1">
    <h2><%= @shopid.name %></h2><h3><%= @shopid.id %></h3>

    <h2>Recent orders</h2>
  
    <% if @orders.blank? %>
      <table class="table table-striped">
        <tr>
          <td><em>There are no orders in your store.</em></td>
        </tr>
      </table>
    
    <% else %>
  
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Order</th>
            <th>Placed by</th>
            <th>Order date</th>
            <th>Product Info</th>

          </tr>
        </thead>
      <% @orders.each do |order| %>
        <tr>
          <td><%= link_to order.name, "https://#{shop_session.url}/admin/orders/#{order.id}", :target => 'blank' %></td>
          <td><%= order.billing_address.name %></td>
          <td>
         <%= order.created_at %>
       </td>
           <td>
          <%    order.line_items.each do |item| %>
         <%= item.name %>
          <% end %>
       </td>
        </tr>
      <% end %>
      </table>
      
    <% end %>
    
    <br/>

    <h2>License Key Generator </h2><br />
<%= @licensekeyorder.email %><%=  @licensekeyorder.billing_address.name %><%= @licensekeyorder.created_at %>

<br />
<h3>Original Input:</h3><h3><%= @secret %></h3>
<h3>Public Key:</h3><h3><%= @pubkey %></h3>
<h3>License Key: (Encoded Signed output with public key)</h3><h3><%= @cipher %></h3>
<h3>Private Key:</h3><h3><%= @privkey %></h3>
<h3>Decoded Output</h3><h3><%= @clrtext %></h3>

    <h2>New Products</h2>
    
    <div class="accordion" id="accordion">      
      
      <% if @productsnh.blank? %>
      
        <div class="accordion-group">
          <div class="accordion-heading">
            <em>There are no products in your store.</em>
          </div>
        </div>
      
      <% else %>
      
        <%  @productsnh.each_with_index do |product, index| %>
          <div class="accordion-group">
            <div class="accordion-heading">
              
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#<%= product.id %>">
                <%= product.title %> <span class="pull-right muted"><%= product.price_range %> <%= shop_session.shop.currency %></span>
              </a>
            </div>
        
            <div id="<%= product.id %>" class="accordion-body collapse <% if index == 1 %>in<% end %>">
              <div class="accordion-inner">
                
                <% if !product.images.empty? %>
                  <div class="polaroid">
                    <%= link_to image_tag(product.images.first.medium), '#modal-'+product.id.to_s, :'data-toggle' => 'modal' %>
                  </div>
                <% end %>
                
                <p><strong>Type:</strong> <%= product.product_type %></p>
                <p><strong>Vendor:</strong> <%= product.vendor %></p>
                <p><%= raw(product.body_html) %></p><br/>
                <% if product.published_at != nil %>
                <p class="muted">Published at <%= Time.parse(product.published_at).strftime("%H:%M on %m/%d/%Y") %></p>
                <% end %>
                <p><%= link_to raw('View in your Shopify Admin <i class="icon-chevron-right" style="opacity:.25"></i>'), "https://#{shop_session.url}/admin/products/#{product.id}", :target => 'blank', :class => 'btn btn-primary' %></p>
              </div>
              
            </div>
          </div>
          
          <div class="modal hide fade" id="modal-<%= product.id %>" style="display:none;">
            <div class="modal-header">
              <a class="close" data-dismiss="modal">×</a>
              <h3><%= product.title %></h3>
            </div>
            <div class="modal-body" >
              <% if !product.images.empty? %>
                <%= image_tag product.images.first.large %>
              <% end %>
            </div>
          </div>
        <% end %>
      
      <% end %>
      
    </div> <!-- accordion -->
  </div> <!-- span8 / right-column -->
</div>