<h1>RSA Page</h1><br />
<h2>Original Input:</h2><h3><%= @secret %></h3>
<h2>Public Key:</h2><h3><%= @pubkey %></h3>
<h2>License Key: (Encoded Signed output with public key)</h2><h3><%= @cipher %></h3>
<h2>Private Key:</h2><h3><%= @privkey %></h3>
<h2>Decoded Output</h2><h3><%= @clrtext %></h3>